*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: linear-gradient(
    43deg,
    #e4cece 0%,
    #8a7adc 40%,
    rgba(255, 0, 208, 0.7) 80%
  );
  
}

#main {
  display: flexbox;
  border: 5vw solid rgba(177, 42, 116, 0.3);
  margin-top: 25px;
  margin-bottom: 25px;
}

.guide {
  height: 150px;
  background-color: #f8f2f8a4;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.monitor {
  background: linear-gradient(
    43deg,
    #e93131 20%,
    #ddc6c3 40%,
    rgba(236, 75, 75, 0.7) 80%
  );
  height: 100px;
}

.coin-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #8a7adc;
}

.coin {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(236, 183, 8, 0.836);
}

.coin:hover {
  background-color: green;
}
